<header class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-white text-sm py-5 px-4 dark:bg-neutral-800">
  <nav class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between">
    <a class="flex-none font-semibold text-2xl text-red-500 focus:outline-none focus:opacity-80 dark:text-red-500" href="#" aria-label="Brand">Tailweb</a>
    <div class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:ps-5">
      <a class="font-medium text-lg text-blue-500 focus:outline-none" href="#" aria-current="page">Home</a>
      <a href="<%=logout_path%>" class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-400 text-lg dark:hover:text-neutral-500 dark:focus:text-neutral-500">Logout</a>
    </div>
  </nav>
</header>